<!--Create the three labels for users type that use the application-->
<div class="d-flex juustify-content-center align-items-center gap-3">
  <h3>the percentage rates of our users</h3>
  <div><i class="fa fa-user fa-2x"></i></div>
</div>

<div class="users-div mt-4">
  <div class="user-type">
    Men (40%)
    <div class="label men"></div>
  </div>
  <div class="user-type">
    Women (45%)
    <div class="label women"></div>
  </div>
  <div class="user-type">
    Children (15%)
    <div class="label children"></div>
  </div>
</div>
