/* Styles for the chart container */
.chart-container {
  width: 70%;
  height: 250px;
  position: relative;
  border: 1px solid #ccc;
  background-color: white;
  margin-left: 60px;
}

/* Styles for the x-axis */
.x-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
}

/* Styles for the y-axis */
.y-axis {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: blue;
}
.y-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
/* Styles for the labels */
.label {
  position: absolute;
  color: red;
}

.label.x {
  bottom: -25px;
  transform: translateX(-50%);
}

.label.y {
  left: -30px;
  transform: translateY(-50%);
}
.bar {
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: aquamarine;
  transform-origin: bottom;
}
.bar-text {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}
