<!--create the user graph chart-->
<div class="chart-container">
  <div class="x-axis"></div>
  <div class="y-axis"></div>

  <div class="label y" style="top: 0%">100</div>
  <div class="label y" style="top: 25%">75</div>
  <div class="label y" style="top: 50%">50</div>
  <div class="label y" style="top: 75%">25</div>
  <div class="label y" style="top: 100%">0</div>

  <div class="y-line" style="top: 25%"></div>
  <div class="y-line" style="top: 50%"></div>
  <div class="y-line" style="top: 75%"></div>
  <div class="y-line" style="top: 100%"></div>

  <div class="bar" style="left: 5%; height: 60%">
    <div class="bar-text" style="margin-top: 150px">january</div>
  </div>
  <div class="bar" style="left: 30%; height: 80%">
    <div class="bar-text" style="margin-top: 200px">februry</div>
  </div>
  <div class="bar" style="left: 55%; height: 40%">
    <div class="bar-text" style="margin-top: 100px">march</div>
  </div>
  <div class="bar" style="left: 80%; height: 90%">
    <div class="bar-text" style="margin-top: 225px">april</div>
  </div>
</div>
