#userCardBody {
  opacity: 0;
  transform: translateY(20px);
}

/* Apply animation to reveal user details */
#userCardBody {
  animation: fadeInUp 2s ease forwards;
}

/* Keyframes for animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*styling the user details component*/
img {
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 20px 20px 20px rgba(98, 68, 145, 0.467);
}
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}
.user-card-body {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(23, 23, 85);
}
.user-card-body h2 {
  box-sizing: border-box;
  background-color: rgb(15, 15, 77);
  color: aliceblue;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 30px;
  text-align: center;
}
.user-card-body h2:hover {
  background-color: aqua;
  color: rgb(15, 15, 77);
}
