<!--I used the loading ngx-spinner by installing it using npm-->
<ngx-spinner
  bdOpacity="0.9"
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="false"
></ngx-spinner>
<div class="search-bar">
  <input
    type="text"
    placeholder="Search by User ID"
    [(ngModel)]="searchTerm"
    (input)="onSearch()"
  />
  <div><i class="fa fa-search fa-2x" style="color: white"></i></div>
</div>
<div class="row">
  <div
    class="col-md-4"
    *ngFor="
      let user of filteredUsers
        | paginate
          : {
              itemsPerPage: usersPerPage,
              currentPage: currentPage,
              totalItems: filteredUsers.length
            }
    "
  >
    <div class="card p-2">
      <div class="d-flex justify-content-center align-items-center gap-4">
        <img [src]="user.avatar" class="card-img-top" alt="user_avatar" />
        <div>
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text">User ID: {{ user.id }}</p>
          <div>
            <!--button to navigate to user details component by using routerlink from router module-->
            <a [routerLink]="['/user', user.id]" class="btn btn-primary"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" aria-label="Previous" (click)="prevPage()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li
      class="page-item"
      *ngFor="let page of totalPagesArray"
      [class.active]="page === currentPage"
    >
      <a class="page-link" href="#" (click)="goToPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" aria-label="Next" (click)="nextPage()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
